@model Product

@section Title {
    Product:@Model.ProductName
}

@section Top {
    @Model.ProductName Özellikleri
    <hr>
    <br><br><br>
}

<div>
    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>
    <a href="/Product/">Products</a>
</div>

@section Footer {
    <br><br><br>
    <hr>
StoreApp Tüm Hakları Saklıdır
}