@model List<Product>

@section Title {
Product List
}

@section Footer {
    <p>
        StoreApp Tüm Hakları Saklıdır
    </p>
}

@section Top {
    
}

@foreach (Product prd in Model)
{
    <partial name="_ProductCard" model="@prd"/>
}
