@model List<Product>

@section Title {
Product List
}

@section Footer {
    <p>
        StoreApp Tüm Hakları Saklıdır
    </p>
}

@section Top {
Product Sayfası
}

@foreach (Product prd in Model)
{
    <div>
        <h3>@prd.ProductName</h3>
        <p>@prd.Price</p>
        <p>
            <a href="/Product/Get/@prd.ProductId">Get Details</a>
        </p>
        <hr>
    </div>
}
